<ion-header>
  <ion-toolbar>
    <ion-title>Search Users</ion-title>
  </ion-toolbar>
  <div class="row ion-padding">
    <ion-searchbar #searchbar></ion-searchbar>
    <ion-button
      [disabled]="!searchbar.value"
      (click)="search(searchbar.value)"
      size="small"
      >Search</ion-button
    >
  </div>
  <div *ngIf="remainingRequests" class="ion-text-center ion-padding">
    {{remainingRequests}} searches remaining <br />
    {{resultCount}} users found
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-list>
      <ion-item
        *ngFor="let user of results; let index = index"
        [ngClass]="{'first': index === ((currentPage - 1) * itemsPerPage)}"
      >
        <ion-avatar slot="start">
          <img [src]="user.avatar_url" />
        </ion-avatar>
        <ion-label>
          {{user.login}}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      *ngIf="resultCount > itemsPerPage"
      threshold="100px"
      (ionInfinite)="next($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="resultCount > itemsPerPage">
    <ion-buttons slot="start">
      <ion-button [disabled]="currentPage === 1" (click)="previous()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="ion-justify-content-between">
      <ion-button *ngIf="bucketIndex === lastBucketIndex">1</ion-button>
      <div *ngIf="bucketIndex === lastBucketIndex">...</div>

      <div *ngIf="bucketIndex !== lastBucketIndex; else lastBucket">
        <ion-button
          (click)="goToPage(bucketIndex * stepSize + 1)"
          [ngClass]="{'current': bucketIndex * stepSize + 1 === currentPage}"
          >{{bucketIndex * stepSize + 1}}</ion-button
        >
        <ion-button
          (click)="goToPage(bucketIndex * stepSize + 2)"
          [ngClass]="{'current': bucketIndex * stepSize + 2 === currentPage}"
          >{{bucketIndex * stepSize + 2}}</ion-button
        >
        <ion-button
          (click)="goToPage(bucketIndex * stepSize + 3)"
          [ngClass]="{'current': bucketIndex * stepSize + 3 === currentPage}"
          >{{bucketIndex * stepSize + 3}}</ion-button
        >
      </div>

      <ng-template #lastBucket>
        <ion-button
          (click)="goToPage(lastPage - 2)"
          [ngClass]="{'current': lastPage - 2 === currentPage}"
          >{{lastPage - 2}}</ion-button
        >
        <ion-button
          (click)="goToPage(lastPage - 1)"
          [ngClass]="{'current': lastPage - 1 === currentPage}"
          >{{lastPage - 1}}</ion-button
        >
        <ion-button
          (click)="goToPage(lastPage)"
          [ngClass]="{'current': lastPage === currentPage}"
          >{{lastPage}}</ion-button
        >
      </ng-template>

      <div *ngIf="bucketIndex !== lastBucketIndex">...</div>
      <ion-button
        (click)="goToPage(lastPage)"
        *ngIf="bucketIndex !== lastBucketIndex"
        >{{lastPage}}</ion-button
      >
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="currentPage === lastPage" (click)="next()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
