<ion-header>
  <ion-toolbar>
    <ion-title>Search Users</ion-title>
  </ion-toolbar>
  <div class="row ion-padding">
    <ion-searchbar #searchbar></ion-searchbar>
    <ion-button
      [disabled]="!searchbar.value"
      (click)="search(searchbar.value)"
      size="small"
      >Search</ion-button
    >
  </div>
  <div *ngIf="remainingRequests" class="ion-text-center ion-padding">
    {{remainingRequests}} searches remaining <br />
    {{resultCount}} users found
  </div>
  <div *ngIf="resultCount > 1000" class="ion-text-center ion-padding">
    *Showing only the first 1000 results
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-list>
      <app-user-card *ngFor="let user of results" [user]="user"></app-user-card>
      <app-loading *ngIf="loading"></app-loading>
    </ion-list>

    <!-- <ion-infinite-scroll
      *ngIf="resultCount > itemsPerPage"
      [disabled]="currentPage === lastPage" // Send event to disable infinity scroll
      threshold="100px"
      (ionInfinite)="next($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
  </div>
</ion-content>

<app-pagination
  *ngIf="resultCount > usersPerPage"
  [itemTotal]="resultCount"
  [numItems]="results.length"
  [itemsPerPage]="usersPerPage"
  [stepSize]="3"
  [maxItems]="1000"
  (navigate)="onNavigate($event)"
></app-pagination>
