.container {
  margin: auto;
}

.row {
  padding-bottom: 0;
  display: flex;
  ion-button {
    margin: auto;
  }
}

.result-info {
  padding-top: 0;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 33%;
  }
  app-pagination,
  .row {
    width: 33%;
    margin: auto;
  }
}
