<ion-card>
  <ion-card-header class="ion-justify-content-start">
    <div id="circle"></div>
    <ion-label style="width: 47%">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="ion-justify-content-start">
    <div id="circle"></div>
    <ion-label style="width: 47%">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="ion-justify-content-start">
    <div id="circle"></div>
    <ion-label style="width: 47%">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="ion-justify-content-start">
    <div id="circle"></div>
    <ion-label style="width: 47%">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="ion-justify-content-start">
    <div id="circle"></div>
    <ion-label style="width: 47%">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header class="ion-justify-content-start">
    <div id="circle"></div>
    <ion-label style="width: 47%">
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-card-content>
</ion-card>