<ion-card button="true" [href]="user.html_url">
  <ion-card-header class="ion-justify-content-start">
    <ion-avatar>
      <img [src]="user.avatar_url" />
    </ion-avatar>
    <ion-label>
      <p>{{ user?.info?.name }}</p>
      {{ user.login }}
    </ion-label>
  </ion-card-header>
  <ion-card-content>
    <div class="description">
      {{ user?.info?.description }}
    </div>
  </ion-card-content>
  <ion-row class="card-footer ion-padding">
    <ion-col class="ion-justify-content-between">
      <div class="counters">
        <ion-icon name="people"></ion-icon> {{ user?.info?.followerCount }}
        <ion-icon name="star"></ion-icon> {{ user?.info?.starCount }}
      </div>
      <div class="location" *ngIf="user?.info?.location">
        <ion-icon name="location"></ion-icon> {{ user?.info?.location }}
      </div>
    </ion-col>
  </ion-row>
</ion-card>
